##############################################################################################################
# Uninterruptable Power Supplies with USBHID interface
#
SUBSYSTEM!="usb", GOTO="dkp_hid_end"

ATTR{idVendor}=="0463", ENV{DKP_VENDOR}="MGE Systems"
ATTR{idVendor}=="051d", ENV{DKP_VENDOR}="APC"
ATTR{idVendor}=="0764", ENV{DKP_VENDOR}="CyberPower"
ATTR{idVendor}=="09ae", ENV{DKP_VENDOR}="Tripp Lite"
ATTR{idVendor}=="050d", ENV{DKP_VENDOR}="Belkin"
ATTR{idVendor}=="06da", ENV{DKP_VENDOR}="Liebert"
ATTR{idVendor}=="0925", ENV{DKP_VENDOR}="Kebo"

# MGE UPS SYSTEMS
ATTR{idVendor}=="0463", ATTR{idProduct}=="0001", ENV{DKP_BATTERY_TYPE}="ups"
ATTR{idVendor}=="0463", ATTR{idProduct}=="0xffff", ENV{DKP_BATTERY_TYPE}="ups"

# APC
ATTR{idVendor}=="051d", ATTR{idProduct}=="0002", ENV{DKP_BATTERY_TYPE}="ups"

# CyberPower
ATTR{idVendor}=="0764", ATTR{idProduct}=="0005", ENV{DKP_BATTERY_TYPE}="ups"
ATTR{idVendor}=="0764", ATTR{idProduct}=="0x0501", ENV{DKP_BATTERY_TYPE}="ups"

# Tripp Lite
ATTR{idVendor}=="09ae", ATTR{idProduct}=="1003", ENV{DKP_BATTERY_TYPE}="ups"
ATTR{idVendor}=="09ae", ATTR{idProduct}=="0x2005", ENV{DKP_BATTERY_TYPE}="ups"
ATTR{idVendor}=="09ae", ATTR{idProduct}=="0x2007", ENV{DKP_BATTERY_TYPE}="ups"
ATTR{idVendor}=="09ae", ATTR{idProduct}=="0x3012", ENV{DKP_BATTERY_TYPE}="ups"
ATTR{idVendor}=="09ae", ATTR{idProduct}=="0x4002", ENV{DKP_BATTERY_TYPE}="ups"
ATTR{idVendor}=="09ae", ATTR{idProduct}=="0x4003", ENV{DKP_BATTERY_TYPE}="ups"

# Belkin
ATTR{idVendor}=="050d", ATTR{idProduct}=="0375", ENV{DKP_BATTERY_TYPE}="ups"
ATTR{idVendor}=="050d", ATTR{idProduct}=="0x0551", ENV{DKP_BATTERY_TYPE}="ups"
ATTR{idVendor}=="050d", ATTR{idProduct}=="0x0751", ENV{DKP_BATTERY_TYPE}="ups"
ATTR{idVendor}=="050d", ATTR{idProduct}=="0x0900", ENV{DKP_BATTERY_TYPE}="ups"
ATTR{idVendor}=="050d", ATTR{idProduct}=="0x0910", ENV{DKP_BATTERY_TYPE}="ups"
ATTR{idVendor}=="050d", ATTR{idProduct}=="0x0912", ENV{DKP_BATTERY_TYPE}="ups"
ATTR{idVendor}=="050d", ATTR{idProduct}=="0x0980", ENV{DKP_BATTERY_TYPE}="ups"
ATTR{idVendor}=="050d", ATTR{idProduct}=="0x1100", ENV{DKP_BATTERY_TYPE}="ups"

# Liebert
ATTR{idVendor}=="06da", ATTR{idProduct}=="ffff", ENV{DKP_BATTERY_TYPE}="ups"

# Kebo
ATTR{idVendor}=="0925", ATTR{idProduct}=="1234", ENV{DKP_BATTERY_TYPE}="ups"

LABEL="dkp_hid_end"

