##############################################################################################################
# Uninterruptable Power Supplies with USB HID interfaces
#

# only support USB, else ignore
SUBSYSTEM!="usb", GOTO="dkp_hid_end"

# if usbraw device, ignore
KERNEL!="hiddev*", GOTO="dkp_hid_end"

# if an interface, ignore
ENV{DEVTYPE}=="usb_interface", GOTO="dkp_hid_end"

ATTRS{idVendor}=="0463", ENV{DKP_VENDOR}="MGE Systems"
ATTRS{idVendor}=="051d", ENV{DKP_VENDOR}="APC"
ATTRS{idVendor}=="0764", ENV{DKP_VENDOR}="CyberPower"
ATTRS{idVendor}=="09ae", ENV{DKP_VENDOR}="Tripp Lite"
ATTRS{idVendor}=="050d", ENV{DKP_VENDOR}="Belkin"
ATTRS{idVendor}=="06da", ENV{DKP_VENDOR}="Liebert"
ATTRS{idVendor}=="0925", ENV{DKP_VENDOR}="Kebo"

# MGE UPS SYSTEMS
ATTRS{idVendor}=="0463", ATTRS{idProduct}=="0001", ENV{DKP_BATTERY_TYPE}="ups"
ATTRS{idVendor}=="0463", ATTRS{idProduct}=="ffff", ENV{DKP_BATTERY_TYPE}="ups"

# APC
ATTRS{idVendor}=="051d", ATTRS{idProduct}=="0002", ENV{DKP_BATTERY_TYPE}="ups"

# CyberPower
ATTRS{idVendor}=="0764", ATTRS{idProduct}=="0005", ENV{DKP_BATTERY_TYPE}="ups"
ATTRS{idVendor}=="0764", ATTRS{idProduct}=="0501", ENV{DKP_BATTERY_TYPE}="ups"

# Tripp Lite
ATTRS{idVendor}=="09ae", ATTRS{idProduct}=="1003", ENV{DKP_BATTERY_TYPE}="ups"
ATTRS{idVendor}=="09ae", ATTRS{idProduct}=="2005", ENV{DKP_BATTERY_TYPE}="ups"
ATTRS{idVendor}=="09ae", ATTRS{idProduct}=="2007", ENV{DKP_BATTERY_TYPE}="ups"
ATTRS{idVendor}=="09ae", ATTRS{idProduct}=="3012", ENV{DKP_BATTERY_TYPE}="ups"
ATTRS{idVendor}=="09ae", ATTRS{idProduct}=="4002", ENV{DKP_BATTERY_TYPE}="ups"
ATTRS{idVendor}=="09ae", ATTRS{idProduct}=="4003", ENV{DKP_BATTERY_TYPE}="ups"

# Belkin
ATTRS{idVendor}=="050d", ATTRS{idProduct}=="0375", ENV{DKP_BATTERY_TYPE}="ups"
ATTRS{idVendor}=="050d", ATTRS{idProduct}=="0551", ENV{DKP_BATTERY_TYPE}="ups"
ATTRS{idVendor}=="050d", ATTRS{idProduct}=="0751", ENV{DKP_BATTERY_TYPE}="ups"
ATTRS{idVendor}=="050d", ATTRS{idProduct}=="0900", ENV{DKP_BATTERY_TYPE}="ups"
ATTRS{idVendor}=="050d", ATTRS{idProduct}=="0910", ENV{DKP_BATTERY_TYPE}="ups"
ATTRS{idVendor}=="050d", ATTRS{idProduct}=="0912", ENV{DKP_BATTERY_TYPE}="ups"
ATTRS{idVendor}=="050d", ATTRS{idProduct}=="0980", ENV{DKP_BATTERY_TYPE}="ups"
ATTRS{idVendor}=="050d", ATTRS{idProduct}=="1100", ENV{DKP_BATTERY_TYPE}="ups"

# Liebert
ATTRS{idVendor}=="06da", ATTRS{idProduct}=="ffff", ENV{DKP_BATTERY_TYPE}="ups"

# Kebo
ATTRS{idVendor}=="0925", ATTRS{idProduct}=="1234", ENV{DKP_BATTERY_TYPE}="ups"

LABEL="dkp_hid_end"

